@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center">
    <div class="container">
            <h1 class="jumbotron-heading">Race Run</h1>
        <p class="lead text-muted">RaceRunApp simplifies the process of discovering local running clubs, nearby races, and connecting with like-minded individuals who share a passion for running</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
    </div>
</section>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <h1 class="fw-light">Running clubs near @Model.City, @Model.State</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @if(Model.Clubs == null)
            {
                <h1 class="fw-light">There are no running clubs in your area! <a asp-area="" asp-controller="Account"
                    asp-action="Login">Login</a>and create one!</h1>
            }
            else
            {
                @foreach (var club in Model.Clubs)
                {
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="card-img-top" src="@club.Image" width="100%" height="225" />
                            <div class="card-body">
                                <p class="card-text">@club.Title</p>
                                <p class="card-text">@club.Description</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a asp-action="Detail" asp-controller="Club" asp-route-id="@club.Id"  class="btn btn-sm btn-outline-secondary">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>
