@model OrCarsOriginal.Models.Car

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
          <b> Brand </b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CBrand)
        </dd>
        <dt class = "col-sm-2">
           <b> Model </b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
          <b> HorsePower </b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorsePower)
        </dd>
        <dt class = "col-sm-2">
           <b> UploadedBy </b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadedBy)
        </dd>
        <dt class = "col-sm-2">
           <b> PhoneNumber </b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
           <b> State </b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SState)
        </dd>
        <dt class = "col-sm-2">
            @{ string imageSrc = "/car/" + Model.Id + "-1.jpg";  }
            <img  src="@imageSrc"/>

            @*@Html.DisplayNameFor(model => model.ImageLink)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageLink)
        </dd>
        <dt class = "col-sm-2">
          <b> Description </b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
           <b> Year </b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            <b> Gear </b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gear)
        </dd>
        <dt class = "col-sm-2">
            <b> Fuel </b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fuel)
        </dd>
        <dt class = "col-sm-2">
           <b> Mileage </b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Km)
        </dd>
        <dt class = "col-sm-2">
            <b> New Or Used </b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewOrUsed)
        </dd>
        <dt class = "col-sm-2">
          <b>  Engine Size  </b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineSize)
        </dd>
        <dt class = "col-sm-2">
           <b> Type of body </b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BBody)
        </dd>
        <dt class = "col-sm-2">
           <b> Color </b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
           <b> Data </b>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InDate)
        </dd>
    </dl>
</div>
<div>
   | <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a> |
    <a asp-action="FileUploadPage" asp-route-id="@Model?.Id">Upload Photo</a> |


</div>
<a class="justify-content-md-center" asp-action="Index">Back to List</a>